@import url(https://fonts.googleapis.com/css?family=Open+Sans);


  ul{
    list-style-type: none;
  }

  ul li.message {
    list-style-type: none;
    border: 2px solid #ebd27f;
    background-color: #cecf6c;
    border-radius: 45px;
    padding: 10px;
    margin: 10px 0;
  }

/* Container for flexboxes */
section {
  display: flex;
}


nav {
  float: left;
  background: #ccc;
  padding: 20px;
  height: 350px;
  width: 20%;
  overflow-y: scroll;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: right;
  width:80%;
  height: 350px;
  background-color: #f1f1f1;
  padding: 20px;
  overflow-y: scroll;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
